
body{
    font-family: 'Montserrat', sans-serif;

}

#tittle{
    background-color: #ff4c68;
    color: white;
}

h1{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}
.container-fluid{
    padding: 3% 10%;
}
.navbar-brand{
    font-weight: bold;
    font-size: 2rem;
}
.nav-item{
    padding: 0 18px;
}
#Skills{
    padding: 7% 7%;
}
h3{
    font-weight: bold;
    /* padding: 2%; */
}
.skill-box{
    margin: 2% 3%;
    padding: 2%;
    /* border: 1px solid black; */
}
.skill-box:hover{
    margin: 2% 3%;
    padding: 2%;
    /* border: 1px solid black; */
    color: white;
    background-color: black;
    border-radius: 7%;
    transition: 1s;
    cursor: pointer;
}
ul li{
    color: grey;
}

.carousel-inner{
background-color: #ff4c68;
padding: 5%;
width:100%;
}
.project-list{
   padding:  7%;
   width: 100%;

}
.project-btn{
    z-index: -1;
    margin-left: 5%;
}
.carousel-btn{
    padding-right: 2%;
    
}
.image-margin{
    width: 50%;
    text-align: center;
}
@media (min-width:700 ) {
    .section1-margin{
        margin: 85%!important;
    }
    .image-margin{
        width: 85%;
    }
}
.footer-img{
    width: 2rem;
    height: 2rem;
}
